appdirs==1.4.4
asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
conda==4.5.4
cryptography==2.2.2
distlib==0.3.1
filelock==3.0.12
h5py==2.10.0
idna==2.6
importlib-metadata==3.7.0
importlib-resources==5.1.2
numpy==1.19.5
Pillow==8.1.2
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
PyYAML==5.4.1
requests==2.18.4
ruamel-yaml==0.15.37
scipy==1.1.0
six==1.11.0
torch==0.4.0
torchvision==0.1.9
tqdm==4.19.9
typing-extensions==3.7.4.3
urllib3==1.22
virtualenv==20.4.2
zipp==3.4.1
